 h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-align: center;
   color: black;
   text-decoration: underline;
   
   
}
h2{
   text-align: center;
   color: black;
   text-decoration: underline;
}

#bgimage{
  height: 100vh;
  width: 100vw;
   background-image: url('1234.jpg');



}
.form-center{
   justify-content: center;
   display: flex;
} 